// $primary: #f15a29;
// $primary-alt: #f15a29;
// $secondary: #3f943f;
// $secondary-alt: #fff;
// $bg: #1e1e1e;
// $bg-alt: #2b2b2b;
// $play-now: #474949;


//new-colors

// $primary: #469add;
// $primary-alt:  #4d77aa;


$primary: #469add;
$primary-alt:  #469add;
$secondary: #4daad1;
$secondary-alt: #fff;
$bg: #21242d;
$bg-alt: #1a1723;
$play-now: #474949;

$danger: #e53935;
$success: #689f38;

$primary-dark: #219abe;

$media-width: 990px;

$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-homePage: 'Rubik', sans-serif;

$font-size-mobile: 22px;
$font-size-web: 30px;
