@import "../../../global.scss";

.games {
  color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(8px); // This be the blur
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }

  .title {
    z-index: 1;
    color: white;
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
  }
  .gameCell {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .gameCell > div {
      margin: 0 2em;
      display: flex;
    }

    .Rankdetail {
      display: flex;
      flex-direction: column;
    }

    .rankDiv {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      color: $play-now;
    }

    .pic-box {
      position: relative;
      background-color: #eeeeff;
      border-radius: 100%;
      -webkit-box-shadow: 6px 6px 26px 8px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 6px 6px 26px 8px rgba(0, 0, 0, 0.22);
      box-shadow: 6px 6px 26px 8px rgba(0, 0, 0, 0.22);
    }

    .rank {
      margin-left: -1.2rem;
      display: flex;
      font-weight: 600;
      align-items: center;
    }

    .PlayNow {
      font-size: 0.8em;
      color: $play-now;
    }

    // Event logo
    .pic {
      color: white;
      width: 60%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .play-button {
    font-weight: 600;
    position: absolute;
    color: #fafaf1;
    bottom: 1.2rem;
  }
}

.disabled-game {
  color: rgba(255, 255, 255, 0.4) !important;

  .title{
    color: rgba(255, 255, 255, 0.4) !important;
  }
  .pic-box {
    opacity: 0.8;
  }
  
}

@media only screen and (min-width: 1000px) {
  .games {
    height: 13rem;
    font-size: 1rem;
    padding: 2rem;

    .rank p {
      color: rgba(255, 255, 255, 0.8);
      transform: rotate(-90deg);
      font-size: 1.2rem;
    }

    .title {
      color: white;
      font-size: 1.4rem;
    }
    .pic-box {
      height: 7rem;
      width: 7rem;
    }

    .RankValue {
      transform: translateY(0.5rem);
      font-size: 3em;
      color: rgba(255, 255, 255, 1);
    }

    .play-button {
      right: 5.5rem;
      transform: translateX(50%);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .games {
    height: 10rem;

    .rank p {
      color: rgba(255, 255, 255, 0.8);
      transform: rotate(-90deg);
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }

    .title {
      font-size: 0.9rem;
      margin-bottom: 4px;
    }

    .pic-box {
      height: 5rem;
      width: 5rem;
    }

    .RankValue {
      margin-left: -5px;
      margin-bottom: 20px;
      font-size: 2.2rem;
      color: white;
      transform: translateY(0.4rem);
    }
    .play-button {
      right: 4.125rem;
      font-size: 0.8rem;
      transform: translateX(50%);
    }
  }
}

$color-1: #ff6060 #8e80cb #66cb8b #c25991 #393942;
$color-2: #f64a4a #8067e7 #13b37d #b53ea8 #41414f;
$number: 1 2 3 4 5;

@each $a, $b, $i in zip($color-1, $color-2, $number) {
  .bg-#{$i}::before {
    content: "";
    position: absolute;
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    filter: blur(1px);
    z-index: 0;
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      40deg,
      #{$a},
      #{$b}
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      40deg,
      #{$a},
      #{$b}
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
